.list-elements{
  overflow: auto hidden;
  height: calc(1vh*100);

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  padding: 0px 10vmin;

  .element{
    width: 70vmin;
    height: 70vmin;
    margin: 0px 2vw;
  }
}